html,
body {
  height: 100%;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0 0 10px 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid white;
  color: #fff;
  height: 50px;
  z-index: 1;
  background-color: gray;
}

nav .container {
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
}

nav .container h1 {
  position: absolute;
  left: 20px;
  top: 10px;
  margin: 0;
}

nav .container a {
  color: #fff;
  text-decoration: none;
}

.section-leader {
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.section-leader .container {
  font-size: 1rem;
  text-align: center;
}

.section-leader .container p {
  margin: 0 0 20px 0;
}

.users-list tr.selected {
    font-weight: bold;
}

.users-detail td.user-firstname {
    font-weight: bold;
}

.users-detail td.user-lastname {
    font-weight: bold;
}

.main-container .list {
    display: inline-block;
    max-width: 270px;
    vertical-align: top;
    margin-right: 50px;
}

.l-sample-app {
    text-align: center;
}